In [11]:
import pandas as pd
import re

In [88]:
df = pd.read_csv("Reddit_Contagem.txt" ,header = None, sep='\),') 
df

C:\Users\cedua\AppData\Local\Temp\ipykernel_8668\3843355383.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("Reddit_Contagem.txt" ,header = None, sep='\),')

,0,1,2,3,4,5,6,7,8,9,...,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356
0,"[('protein', 610","('powder', 190","('whey', 110","('good', 54","('shake', 43","('isolate', 42","('shakes', 35","('bars', 30","('powders', 28","('weight', 25",...,"('busters', 1","('vegans', 1","('alert', 1","('snort', 1","('lupins', 1","('sodium', 1","('bread', 1","('funky', 1","('strange', 1","('die', 1)]"

In [110]:
def extract_words(text):
    word = r"[a-z]+"
    words = re.findall(word, text)
    return words

#extracting every word with regex
words_list = []
for column in df.columns:
    words_list.append(df[column].apply(extract_words))

words_list

[0    [protein]
 Name: 0, dtype: object,
 0    [powder]
 Name: 1, dtype: object,
 0    [whey]
 Name: 2, dtype: object,
 0    [good]
 Name: 3, dtype: object,
 0    [shake]
 Name: 4, dtype: object,
 0    [isolate]
 Name: 5, dtype: object,
 0    [shakes]
 Name: 6, dtype: object,
 0    [bars]
 Name: 7, dtype: object,
 0    [powders]
 Name: 8, dtype: object,
 0    [weight]
 Name: 9, dtype: object,
 0    [nutrition]
 Name: 10, dtype: object,
 0    [bar]
 Name: 11, dtype: object,
 0    [much]
 Name: 12, dtype: object,
 0    [taste]
 Name: 13, dtype: object,
 0    [anyone]
 Name: 14, dtype: object,
 0    [vs]
 Name: 15, dtype: object,
 0    [like]
 Name: 16, dtype: object,
 0    [best]
 Name: 17, dtype: object,
 0    [intake]
 Name: 18, dtype: object,
 0    [get]
 Name: 19, dtype: object,
 0    [chocolate]
 Name: 20, dtype: object,
 0    [free]
 Name: 21, dtype: object,
 0    [help]
 Name: 22, dtype: object,
 0    [muscle]
 Name: 23, dtype: object,
 0    [brand]
 Name: 24, dtype: object,
 0    [high]
 Name: 25, dtype: object,
 0    [review]
 Name: 26, dtype: object,
 0    [take]
 Name: 27, dtype: object,
 0    [tried]
 Name: 28, dtype: object,
 0    [need]
 Name: 29, dtype: object,
 0    [gold]
 Name: 30, dtype: object,
 0    [one]
 Name: 31, dtype: object,
 0    [eat]
 Name: 32, dtype: object,
 0    [creatine]
 Name: 33, dtype: object,
 0    [standard]
 Name: 34, dtype: object,
 0    [use]
 Name: 35, dtype: object,
 0    [food]
 Name: 36, dtype: object,
 0    [vanilla]
 Name: 37, dtype: object,
 0    [drink]
 Name: 38, dtype: object,
 0    [day]
 Name: 39, dtype: object,
 0    [supplements]
 Name: 40, dtype: object,
 0    [question]
 Name: 41, dtype: object,
 0    [daily]
 Name: 42, dtype: object,
 0    [without]
 Name: 43, dtype: object,
 0    [better]
 Name: 44, dtype: object,
 0    [per]
 Name: 45, dtype: object,
 0    [suggestions]
 Name: 46, dtype: object,
 0    [myprotein]
 Name: 47, dtype: object,
 0    [loss]
 Name: 48, dtype: object,
 0    [make]
 Name: 49, dtype: object,
 0    [tasting]
 Name: 50, dtype: object,
 0    [sugar]
 Name: 51, dtype: object,
 0    [bad]
 Name: 52, dtype: object,
 0    [buy]
 Name: 53, dtype: object,
 0    [advice]
 Name: 54, dtype: object,
 0    [flavor]
 Name: 55, dtype: object,
 0    [low]
 Name: 56, dtype: object,
 0    [know]
 Name: 57, dtype: object,
 0    [recipe]
 Name: 58, dtype: object,
 0    [flavors]
 Name: 59, dtype: object,
 0    [optimum]
 Name: 60, dtype: object,
 0    [tastes]
 Name: 61, dtype: object,
 0    [based]
 Name: 62, dtype: object,
 0    [alternative]
 Name: 63, dtype: object,
 0    [grams]
 Name: 64, dtype: object,
 0    [gain]
 Name: 65, dtype: object,
 0    [pea]
 Name: 66, dtype: object,
 0    [water]
 Name: 67, dtype: object,
 0    [looking]
 Name: 68, dtype: object,
 0    [brands]
 Name: 69, dtype: object,
 0    [recommendations]
 Name: 70, dtype: object,
 0    [vegan]
 Name: 71, dtype: object,
 0    [drinking]
 Name: 72, dtype: object,
 0    [chicken]
 Name: 73, dtype: object,
 0    [time]
 Name: 74, dtype: object,
 0    [new]
 Name: 75, dtype: object,
 0    [iso]
 Name: 76, dtype: object,
 0    [unflavored]
 Name: 77, dtype: object,
 0    [mass]
 Name: 78, dtype: object,
 0    [meal]
 Name: 79, dtype: object,
 0    [calories]
 Name: 80, dtype: object,
 0    [old]
 Name: 81, dtype: object,
 0    [gym]
 Name: 82, dtype: object,
 0    [market]
 Name: 83, dtype: object,
 0    [diet]
 Name: 84, dtype: object,
 0    [scoop]
 Name: 85, dtype: object,
 0    [found]
 Name: 86, dtype: object,
 0    [natural]
 Name: 87, dtype: object,
 0    [meals]
 Name: 88, dtype: object,
 0    [would]
 Name: 89, dtype: object,
 0    [plant]
 Name: 90, dtype: object,
 0    [days]
 Name: 91, dtype: object,
 0    [eating]
 Name: 92, dtype: object,
 0    [clear]
 Name: 93, dtype: object,
 0    [please]
 Name: 94, dtype: object,
 0    [think]
 Name: 95, dtype: object,
 0    [year]
 Name: 96, dtype: object,
 0    [workout]
 Name: 97, dtype: object,
 0    [coffee]
 Name: 98, dtype: object,
 0    [find]
 Name: 99, dtype: object,
 0    [going]
 Name: 100, dtype: object,
 0    [impact]
 Name: 101, dtype: object,
 0    [sources]
 Name: 102, dtype: object,
 0    [actually]
 Name: 103, dtype: object,
 0    [fat]
 Name: 104, dtype: object,
 0    [isopure]
 Name: 105, dtype: object,
 0    [snacks]
 Name: 106, dtype: object,
 0    [serving]
 Name: 107, dtype: object,
 0    [really]
 Name: 108, dtype: object,
 0    [proteins]
 Name: 109, dtype: object,
 0    [source]
 Name: 110, dtype: object,
 0    [body]
 Name: 111, dtype: object,
 0    [working]
 Name: 112, dtype: object,
 0    [mix]
 Name: 113, dtype: object,
 0    [foods]
 Name: 114, dtype: object,
 0    [amino]
 Name: 115, dtype: object,
 0    [quality]
 Name: 116, dtype: object,
 0    [peanut]
 Name: 117, dtype: object,
 0    [sick]
 Name: 118, dtype: object,
 0    [soy]
 Name: 119, dtype: object,
 0    [milk]
 Name: 120, dtype: object,
 0    [great]
 Name: 121, dtype: object,
 0    [got]
 Name: 122, dtype: object,
 0    [growth]
 Name: 123, dtype: object,
 0    [made]
 Name: 124, dtype: object,
 0    [go]
 Name: 125, dtype: object,
 0    [products]
 Name: 126, dtype: object,
 0    [many]
 Name: 127, dtype: object,
 0    [safe]
 Name: 128, dtype: object,
 0    [could]
 Name: 129, dtype: object,
 0    [casein]
 Name: 130, dtype: object,
 0    [people]
 Name: 131, dtype: object,
 0    [online]
 Name: 132, dtype: object,
 0    [acne]
 Name: 133, dtype: object,
 0    [white]
 Name: 134, dtype: object,
 0    [healthy]
 Name: 135, dtype: object,
 0    [cheap]
 Name: 136, dtype: object,
 0    [size]
 Name: 137, dtype: object,
 0    [still]
 Name: 138, dtype: object,
 0    [uk]
 Name: 139, dtype: object,
 0    [cream]
 Name: 140, dtype: object,
 0    [favorite]
 Name: 141, dtype: object,
 0    [rich]
 Name: 142, dtype: object,
 0    [stop]
 Name: 143, dtype: object,
 0    [lose]
 Name: 144, dtype: object,
 0    [guys]
 Name: 145, dtype: object,
 0    [consume]
 Name: 146, dtype: object,
 0    [butter]
 Name: 147, dtype: object,
 0    [flavored]
 Name: 148, dtype: object,
 0    [long]
 Name: 149, dtype: object,
 0    [supplement]
 Name: 150, dtype: object,
 0    [india]
 Name: 151, dtype: object,
 0    [shaker]
 Name: 152, dtype: object,
 0    [amount]
 Name: 153, dtype: object,
 0    [hot]
 Name: 154, dtype: object,
 0    [started]
 Name: 155, dtype: object,
 0    [using]
 Name: 156, dtype: object,
 0    [survey]
 Name: 157, dtype: object,
 0    [deals]
 Name: 158, dtype: object,
 0    [calorie]
 Name: 159, dtype: object,
 0    [taking]
 Name: 160, dtype: object,
 0    [enough]
 Name: 161, dtype: object,
 0    [weird]
 Name: 162, dtype: object,
 0    [acid]
 Name: 163, dtype: object,
 0    [ice]
 Name: 164, dtype: object,
 0    [beef]
 Name: 165, dtype: object,
 0    [awful]
 Name: 166, dtype: object,
 0    [goal]
 Name: 167, dtype: object,
 0    [choice]
 Name: 168, dtype: object,
 0    [cheapest]
 Name: 169, dtype: object,
 0    [ever]
 Name: 170, dtype: object,
 0    [look]
 Name: 171, dtype: object,
 0    [cereal]
 Name: 172, dtype: object,
 0    [cake]
 Name: 173, dtype: object,
 0    [aftertaste]
 Name: 174, dtype: object,
 0    [try]
 Name: 175, dtype: object,
 0    [recommend]
 Name: 176, dtype: object,
 0    [intolerance]
 Name: 177, dtype: object,
 0    [stevia]
 Name: 178, dtype: object,
 0    [vega]
 Name: 179, dtype: object,
 0    [makes]
 Name: 180, dtype: object,
 0    [heavy]
 Name: 181, dtype: object,
 0    [stuff]
 Name: 182, dtype: object,
 0    [gainer]
 Name: 183, dtype: object,
 0    [complete]
 Name: 184, dtype: object,
 0    [recipes]
 Name: 185, dtype: object,
 0    [making]
 Name: 186, dtype: object,
 0    [dymatize]
 Name: 187, dtype: object,
 0    [bottle]
 Name: 188, dtype: object,
 0    [needs]
 Name: 189, dtype: object,
 0    [count]
 Name: 190, dtype: object,
 0    [ghost]
 Name: 191, dtype: object,
 0    [bloated]
 Name: 192, dtype: object,
 0    [someone]
 Name: 193, dtype: object,
 0    [ok]
 Name: 194, dtype: object,
 0    [months]
 Name: 195, dtype: object,
 0    [im]
 Name: 196, dtype: object,
 0    [difference]
 Name: 197, dtype: object,
 0    [sport]
 Name: 198, dtype: object,
 0    [price]
 Name: 199, dtype: object,
 0    [adding]
 Name: 200, dtype: object,
 0    [clean]
 Name: 201, dtype: object,
 0    [reviews]
 Name: 202, dtype: object,
 0    [well]
 Name: 203, dtype: object,
 0    [egg]
 Name: 204, dtype: object,
 0    [getting]
 Name: 205, dtype: object,
 0    [meat]
 Name: 206, dtype: object,
 0    [fortress]
 Name: 207, dtype: object,
 0    [non]
 Name: 208, dtype: object,
 0    [dairy]
 Name: 209, dtype: object,
 0    [see]
 Name: 210, dtype: object,
 0    [max]
 Name: 211, dtype: object,
 0    [trying]
 Name: 212, dtype: object,
 0    [breast]
 Name: 213, dtype: object,
 0    [content]
 Name: 214, dtype: object,
 0    [anything]
 Name: 215, dtype: object,
 0    [expired]
 Name: 216, dtype: object,
 0    [starting]
 Name: 217, dtype: object,
 0    [delicious]
 Name: 218, dtype: object,
 0    [women]
 Name: 219, dtype: object,
 0    [added]
 Name: 220, dtype: object,
 0    [sweetener]
 Name: 221, dtype: object,
 0    [normal]
 Name: 222, dtype: object,
 0    [morning]
 Name: 223, dtype: object,
 0    [canada]
 Name: 224, dtype: object,
 0    [bought]
 Name: 225, dtype: object,
 0    [confused]
 Name: 226, dtype: object,
 0    [expiry]
 Name: 227, dtype: object,
 0    [options]
 Name: 228, dtype: object,
 0    [value]
 Name: 229, dtype: object,
 0    [allergy]
 Name: 230, dtype: object,
 0    [lactose]
 Name: 231, dtype: object,
 0    [anybody]
 Name: 232, dtype: object,
 0    [na]
 Name: 233, dtype: object,
 0    [sweet]
 Name: 234, dtype: object,
 0    [smoothie]
 Name: 235, dtype: object,
 0    [cal]
 Name: 236, dtype: object,
 0    [health]
 Name: 237, dtype: object,
 0    [first]
 Name: 238, dtype: object,
 0    [kind]
 Name: 239, dtype: object,
 0    [snack]
 Name: 240, dtype: object,
 0    [caloric]
 Name: 241, dtype: object,
 0    [product]
 Name: 242, dtype: object,
 0    [cleanest]
 Name: 243, dtype: object,
 0    [artificial]
 Name: 244, dtype: object,
 0    [legit]
 Name: 245, dtype: object,
 0    [raw]
 Name: 246, dtype: object,
 0    [drinks]
 Name: 247, dtype: object,
 0    [double]
 Name: 248, dtype: object,
 0    [power]
 Name: 249, dtype: object,
 0    [eggs]
 Name: 250, dtype: object,
 0    [done]
 Name: 251, dtype: object,
 0    [effect]
 Name: 252, dtype: object,
 0    [factors]
 Name: 253, dtype: object,
 0    [add]
 Name: 254, dtype: object,
 0    [research]
 Name: 255, dtype: object,
 0    [recommendation]
 Name: 256, dtype: object,
 0    [bcaa]
 Name: 257, dtype: object,
 0    [tech]
 Name: 258, dtype: object,
 0    [also]
 Name: 259, dtype: object,
 0    [times]
 Name: 260, dtype: object,
 0    [half]
 Name: 261, dtype: object,
 0    [zero]
 Name: 262, dtype: object,
 0    [currently]
 Name: 263, dtype: object,
 0    [post]
 Name: 264, dtype: object,
 0    [premade]
 Name: 265, dtype: object,
 0    [bloating]
 Name: 266, dtype: object,
 0    [side]
 Name: 267, dtype: object,
 0    [recently]
 Name: 268, dtype: object,
 0    [expire]
 Name: 269, dtype: object,
 0    [back]
 Name: 270, dtype: object,
 0    [able]
 Name: 271, dtype: object,
 0    [lot]
 Name: 272, dtype: object,
 0    [replacement]
 Name: 273, dtype: object,
 0    [similar]
 Name: 274, dtype: object,
 0    [orgain]
 Name: 275, dtype: object,
 0    [u]
 Name: 276, dtype: object,
 0    [training]
 Name: 277, dtype: object,
 0    [breakfast]
 Name: 278, dtype: object,
 0    [problems]
 Name: 279, dtype: object,
 0    [since]
 Name: 280, dtype: object,
 0    [else]
 Name: 281, dtype: object,
 0    [simple]
 Name: 282, dtype: object,
 0    [flavours]
 Name: 283, dtype: object,
 0    [black]
 Name: 284, dtype: object,
 0    [woah]
 Name: 285, dtype: object,
 0    [two]
 Name: 286, dtype: object,
 0    [pumpkin]
 Name: 287, dtype: object,
 0    [pie]
 Name: 288, dtype: object,
 0    [tell]
 Name: 289, dtype: object,
 0    [want]
 Name: 290, dtype: object,
 0    [pebbles]
 Name: 291, dtype: object,
 0    [expensive]
 Name: 292, dtype: object,
 0    [lemon]
 Name: 293, dtype: object,
 0    [fine]
 Name: 294, dtype: object,
 0    [work]
 Name: 295, dtype: object,
 0    [gains]
 Name: 296, dtype: object,
 0    [ensure]
 Name: 297, dtype: object,
 0    [smell]
 Name: 298, dtype: object,
 0    [profile]
 Name: 299, dtype: object,
 0    [s]
 Name: 300, dtype: object,
 0    [carb]
 Name: 301, dtype: object,
 0    [instead]
 Name: 302, dtype: object,
 0    [concentrate]
 Name: 303, dtype: object,
 0    [stomach]
 Name: 304, dtype: object,
 0    [bit]
 Name: 305, dtype: object,
 0    [replacements]
 Name: 306, dtype: object,
 0    [top]
 Name: 307, dtype: object,
 0    [fake]
 Name: 308, dtype: object,
 0    [constantly]
 Name: 309, dtype: object,
 0    [rice]
 Name: 310, dtype: object,
 0    [ago]
 Name: 311, dtype: object,
 0    [iron]
 Name: 312, dtype: object,
 0    [person]
 Name: 313, dtype: object,
 0    [monster]
 Name: 314, dtype: object,
 0    [alternatives]
 Name: 315, dtype: object,
 0    [bunch]
 Name: 316, dtype: object,
 0    [lean]
 Name: 317, dtype: object,
 0    [hit]
 Name: 318, dtype: object,
 0    [enzymes]
 Name: 319, dtype: object,
 0    [purchased]
 Name: 320, dtype: object,
 0    [major]
 Name: 321, dtype: object,
 0    [companies]
 Name: 322, dtype: object,
 0    [bean]
 Name: 323, dtype: object,
 0    [magic]
 Name: 324, dtype: object,
 0    [example]
 Name: 325, dtype: object,
 0    [crunch]
 Name: 326, dtype: object,
 0    [naked]
 Name: 327, dtype: object,
 0    [date]
 Name: 328, dtype: object,
 0    [replace]
 Name: 329, dtype: object,
 0    [sports]
 Name: 330, dtype: object,
 0    [reliable]
 Name: 331, dtype: object,
 0    [affordable]
 Name: 332, dtype: object,
 0    [fairlife]
 Name: 333, dtype: object,
 0    [terrible]
 Name: 334, dtype: object,
 0    [infusions]
 Name: 335, dtype: object,
 0    [pound]
 Name: 336, dtype: object,
 0    [quick]
 Name: 337, dtype: object,
 0    [monohydrate]
 Name: 338, dtype: object,
 0    [pre]
 Name: 339, dtype: object,
 0    [mean]
 Name: 340, dtype: object,
 0    [gon]
 Name: 341, dtype: object,
 0    [sucralose]
 Name: 342, dtype: object,
 0    [maltodextrin]
 Name: 343, dtype: object,
 0    [potassium]
 Name: 344, dtype: object,
 0    [seem]
 Name: 345, dtype: object,
 0    [gut]
 Name: 346, dtype: object,
 0    [true]
 Name: 347, dtype: object,
 0    [appreciated]
 Name: 348, dtype: object,
 0    [choco]
 Name: 349, dtype: object,
 0    [bitter]
 Name: 350, dtype: object,
 0    [finding]
 Name: 351, dtype: object,
 0    [every]
 Name: 352, dtype: object,
 0    [giving]
 Name: 353, dtype: object,
 0    [hair]
 Name: 354, dtype: object,
 0    [basis]
 Name: 355, dtype: object,
 0    [plan]
 Name: 356, dtype: object,
 0    [spiked]
 Name: 357, dtype: object,
 0    [decided]
 Name: 358, dtype: object,
 0    [kidneys]
 Name: 359, dtype: object,
 0    [choc]
 Name: 360, dtype: object,
 0    [muffin]
 Name: 361, dtype: object,
 0    [states]
 Name: 362, dtype: object,
 0    [bcaas]
 Name: 363, dtype: object,
 0    [list]
 Name: 364, dtype: object,
 0    [build]
 Name: 365, dtype: object,
 0    [past]
 Name: 366, dtype: object,
 0    [part]
 Name: 367, dtype: object,
 0    [exam]
 Name: 368, dtype: object,
 0    [cancer]
 Name: 369, dtype: object,
 0    [causing]
 Name: 370, dtype: object,
 0    [nut]
 Name: 371, dtype: object,
 0    [project]
 Name: 372, dtype: object,
 0    [tubs]
 Name: 373, dtype: object,
 0    [collagen]
 Name: 374, dtype: object,
 0    [idk]
 Name: 375, dtype: object,
 0    [nitro]
 Name: 376, dtype: object,
 0    [everyone]
 Name: 377, dtype: object,
 0    [deal]
 Name: 378, dtype: object,
 0    [dietary]
 Name: 379, dtype: object,
 0    [sweetners]
 Name: 380, dtype: object,
 0    [allmax]
 Name: 381, dtype: object,
 0    [opinion]
 Name: 382, dtype: object,
 0    [milkshake]
 Name: 383, dtype: object,
 0    [batter]
 Name: 384, dtype: object,
 0    [put]
 Name: 385, dtype: object,
 0    [nutrabox]
 Name: 386, dtype: object,
 0    [late]
 Name: 387, dtype: object,
 0    [issues]
 Name: 388, dtype: object,
 0    [feeling]
 Name: 389, dtype: object,
 0    [home]
 Name: 390, dtype: object,
 0    [week]
 Name: 391, dtype: object,
 0    [guide]
 Name: 392, dtype: object,
 0    [sugars]
 Name: 393, dtype: object,
 0    [right]
 Name: 394, dtype: object,
 0    [lost]
 Name: 395, dtype: object,
 0    [total]
 Name: 396, dtype: object,
 0    [hard]
 Name: 397, dtype: object,
 0    [listed]
 Name: 398, dtype: object,
 0    [second]
 Name: 399, dtype: object,
 0    [losing]
 Name: 400, dtype: object,
 0    [questions]
 Name: 401, dtype: object,
 0    [packaging]
 Name: 402, dtype: object,
 0    [produce]
 Name: 403, dtype: object,
 0    [reaction]
 Name: 404, dtype: object,
 0    [dry]
 Name: 405, dtype: object,
 0    [bring]
 Name: 406, dtype: object,
 0    [error]
 Name: 407, dtype: object,
 0    [effects]
 Name: 408, dtype: object,
 0    [couple]
 Name: 409, dtype: object,
 0    [core]
 Name: 410, dtype: object,
 0    [world]
 Name: 411, dtype: object,
 0    [cookie]
 Name: 412, dtype: object,
 0    [left]
 Name: 413, dtype: object,
 0    [pantry]
 Name: 414, dtype: object,
 0    [code]
 Name: 415, dtype: object,
 0    [isoclear]
 Name: 416, dtype: object,
 0    [hurt]
 Name: 417, dtype: object,
 0    [place]
 Name: 418, dtype: object,
 0    [wanting]
 Name: 419, dtype: object,
 0    [matter]
 Name: 420, dtype: object,
 0    [alot]
 Name: 421, dtype: object,
 0    [access]
 Name: 422, dtype: object,
 0    [hotel]
 Name: 423, dtype: object,
 0    [website]
 Name: 424, dtype: object,
 0    [kg]
 Name: 425, dtype: object,
 0    [consumed]
 Name: 426, dtype: object,
 0    [tips]
 Name: 427, dtype: object,
 0    [increase]
 Name: 428, dtype: object,
 0    [bulk]
 Name: 429, dtype: object,
 0    [labs]
 Name: 430, dtype: object,
 0    [beginner]
 Name: 431, dtype: object,
 0    [way]
 Name: 432, dtype: object,
 0    [less]
 Name: 433, dtype: object,
 0    [energy]
 Name: 434, dtype: object,
 0    [happen]
 Name: 435, dtype: object,
 0    [mixed]
 Name: 436, dtype: object,
 0    [form]
 Name: 437, dtype: object,
 0    [friday]
 Name: 438, dtype: object,
 0    [problem]
 Name: 439, dtype: object,
 0    [select]
 Name: 440, dtype: object,
 0    [smooth]
 Name: 441, dtype: object,
 0    [graph]
 Name: 442, dtype: object,
 0    [vitamins]
 Name: 443, dtype: object,
 0    [ingredients]
 Name: 444, dtype: object,
 0    [weeks]
 Name: 445, dtype: object,
 0    [whole]
 Name: 446, dtype: object,
 0    [proteing]
 Name: 447, dtype: object,
 0    [bed]
 Name: 448, dtype: object,
 0    [smells]
 Name: 449, dtype: object,
 0    [thinking]
 Name: 450, dtype: object,
 0    [may]
 Name: 451, dtype: object,
 0    [different]
 Name: 452, dtype: object,
 0    [powered]
 Name: 453, dtype: object,
 0    [super]
 Name: 454, dtype: object,
 0    [advanced]
 Name: 455, dtype: object,
 0    [native]
 Name: 456, dtype: object,
 0    [brownie]
 Name: 457, dtype: object,
 0    [coconut]
 Name: 458, dtype: object,
 0    [overnight]
 Name: 459, dtype: object,
 0    [recovery]
 Name: 460, dtype: object,
 0    [muscles]
 Name: 461, dtype: object,
 0    [australia]
 Name: 462, dtype: object,
 0    [https]
 Name: 463, dtype: object,
 0    [night]
 Name: 464, dtype: object,
 0    [bang]
 Name: 465, dtype: object,
 0    [buck]
 Name: 466, dtype: object,
 0    [macros]
 Name: 467, dtype: object,
 0    [quest]
 Name: 468, dtype: object,
 0    [today]
 Name: 469, dtype: object,
 0    [expiration]
 Name: 470, dtype: object,
 0    [gaining]
 Name: 471, dtype: object,
 0    [general]
 Name: 472, dtype: object,
 0    [extra]
 Name: 473, dtype: object,
 0    [honest]
 Name: 474, dtype: object,
 0    [differences]
 Name: 475, dtype: object,
 0    [pancake]
 Name: 476, dtype: object,
 0    [metal]
 Name: 477, dtype: object,
 0    [easily]
 Name: 478, dtype: object,
 0    [worth]
 Name: 479, dtype: object,
 0    [pills]
 Name: 480, dtype: object,
 0    [suggest]
 Name: 481, dtype: object,

In [111]:
def extract_words_from_list(list=list):
    new_list_word = []
    value = re.findall(r'\[(.*?)\]', list[0])[0]
    new_list_word.append(value)
    return new_list_word

new_words_list = extract_words_from_list(words_list)
new_words_list

TypeError: expected string or bytes-like object, got 'Series'

In [92]:
def extract_number(text):
    word = r"\d+"
    words = re.findall(word, text)
    return words

#extracting every word with regex
num_list = []
for column in df.columns:
    num_list.append(df[column].apply(extract_number))

num_list

[0    [610]
 Name: 0, dtype: object,
 0    [190]
 Name: 1, dtype: object,
 0    [110]
 Name: 2, dtype: object,
 0    [54]
 Name: 3, dtype: object,
 0    [43]
 Name: 4, dtype: object,
 0    [42]
 Name: 5, dtype: object,
 0    [35]
 Name: 6, dtype: object,
 0    [30]
 Name: 7, dtype: object,
 0    [28]
 Name: 8, dtype: object,
 0    [25]
 Name: 9, dtype: object,
 0    [25]
 Name: 10, dtype: object,
 0    [25]
 Name: 11, dtype: object,
 0    [25]
 Name: 12, dtype: object,
 0    [24]
 Name: 13, dtype: object,
 0    [23]
 Name: 14, dtype: object,
 0    [23]
 Name: 15, dtype: object,
 0    [23]
 Name: 16, dtype: object,
 0    [22]
 Name: 17, dtype: object,
 0    [22]
 Name: 18, dtype: object,
 0    [22]
 Name: 19, dtype: object,
 0    [22]
 Name: 20, dtype: object,
 0    [22]
 Name: 21, dtype: object,
 0    [21]
 Name: 22, dtype: object,
 0    [20]
 Name: 23, dtype: object,
 0    [20]
 Name: 24, dtype: object,
 0    [20]
 Name: 25, dtype: object,
 0    [20]
 Name: 26, dtype: object,
 0    [18]
 Name: 27, dtype: object,
 0    [17]
 Name: 28, dtype: object,
 0    [17]
 Name: 29, dtype: object,
 0    [17]
 Name: 30, dtype: object,
 0    [17]
 Name: 31, dtype: object,
 0    [16]
 Name: 32, dtype: object,
 0    [16]
 Name: 33, dtype: object,
 0    [16]
 Name: 34, dtype: object,
 0    [16]
 Name: 35, dtype: object,
 0    [15]
 Name: 36, dtype: object,
 0    [15]
 Name: 37, dtype: object,
 0    [15]
 Name: 38, dtype: object,
 0    [15]
 Name: 39, dtype: object,
 0    [14]
 Name: 40, dtype: object,
 0    [14]
 Name: 41, dtype: object,
 0    [14]
 Name: 42, dtype: object,
 0    [13]
 Name: 43, dtype: object,
 0    [13]
 Name: 44, dtype: object,
 0    [13]
 Name: 45, dtype: object,
 0    [13]
 Name: 46, dtype: object,
 0    [13]
 Name: 47, dtype: object,
 0    [12]
 Name: 48, dtype: object,
 0    [12]
 Name: 49, dtype: object,
 0    [11]
 Name: 50, dtype: object,
 0    [11]
 Name: 51, dtype: object,
 0    [11]
 Name: 52, dtype: object,
 0    [11]
 Name: 53, dtype: object,
 0    [11]
 Name: 54, dtype: object,
 0    [11]
 Name: 55, dtype: object,
 0    [10]
 Name: 56, dtype: object,
 0    [10]
 Name: 57, dtype: object,
 0    [10]
 Name: 58, dtype: object,
 0    [9]
 Name: 59, dtype: object,
 0    [9]
 Name: 60, dtype: object,
 0    [9]
 Name: 61, dtype: object,
 0    [9]
 Name: 62, dtype: object,
 0    [9]
 Name: 63, dtype: object,
 0    [9]
 Name: 64, dtype: object,
 0    [9]
 Name: 65, dtype: object,
 0    [9]
 Name: 66, dtype: object,
 0    [8]
 Name: 67, dtype: object,
 0    [8]
 Name: 68, dtype: object,
 0    [8]
 Name: 69, dtype: object,
 0    [8]
 Name: 70, dtype: object,
 0    [8]
 Name: 71, dtype: object,
 0    [8]
 Name: 72, dtype: object,
 0    [8]
 Name: 73, dtype: object,
 0    [8]
 Name: 74, dtype: object,
 0    [8]
 Name: 75, dtype: object,
 0    [8]
 Name: 76, dtype: object,
 0    [8]
 Name: 77, dtype: object,
 0    [8]
 Name: 78, dtype: object,
 0    [8]
 Name: 79, dtype: object,
 0    [8]
 Name: 80, dtype: object,
 0    [8]
 Name: 81, dtype: object,
 0    [8]
 Name: 82, dtype: object,
 0    [8]
 Name: 83, dtype: object,
 0    [7]
 Name: 84, dtype: object,
 0    [7]
 Name: 85, dtype: object,
 0    [7]
 Name: 86, dtype: object,
 0    [7]
 Name: 87, dtype: object,
 0    [7]
 Name: 88, dtype: object,
 0    [7]
 Name: 89, dtype: object,
 0    [7]
 Name: 90, dtype: object,
 0    [7]
 Name: 91, dtype: object,
 0    [7]
 Name: 92, dtype: object,
 0    [7]
 Name: 93, dtype: object,
 0    [7]
 Name: 94, dtype: object,
 0    [7]
 Name: 95, dtype: object,
 0    [7]
 Name: 96, dtype: object,
 0    [7]
 Name: 97, dtype: object,
 0    [7]
 Name: 98, dtype: object,
 0    [7]
 Name: 99, dtype: object,
 0    [7]
 Name: 100, dtype: object,
 0    [7]
 Name: 101, dtype: object,
 0    [6]
 Name: 102, dtype: object,
 0    [6]
 Name: 103, dtype: object,
 0    [6]
 Name: 104, dtype: object,
 0    [6]
 Name: 105, dtype: object,
 0    [6]
 Name: 106, dtype: object,
 0    [6]
 Name: 107, dtype: object,
 0    [6]
 Name: 108, dtype: object,
 0    [6]
 Name: 109, dtype: object,
 0    [6]
 Name: 110, dtype: object,
 0    [6]
 Name: 111, dtype: object,
 0    [6]
 Name: 112, dtype: object,
 0    [6]
 Name: 113, dtype: object,
 0    [6]
 Name: 114, dtype: object,
 0    [6]
 Name: 115, dtype: object,
 0    [6]
 Name: 116, dtype: object,
 0    [6]
 Name: 117, dtype: object,
 0    [6]
 Name: 118, dtype: object,
 0    [6]
 Name: 119, dtype: object,
 0    [6]
 Name: 120, dtype: object,
 0    [6]
 Name: 121, dtype: object,
 0    [6]
 Name: 122, dtype: object,
 0    [6]
 Name: 123, dtype: object,
 0    [6]
 Name: 124, dtype: object,
 0    [6]
 Name: 125, dtype: object,
 0    [6]
 Name: 126, dtype: object,
 0    [6]
 Name: 127, dtype: object,
 0    [6]
 Name: 128, dtype: object,
 0    [6]
 Name: 129, dtype: object,
 0    [6]
 Name: 130, dtype: object,
 0    [6]
 Name: 131, dtype: object,
 0    [6]
 Name: 132, dtype: object,
 0    [5]
 Name: 133, dtype: object,
 0    [5]
 Name: 134, dtype: object,
 0    [5]
 Name: 135, dtype: object,
 0    [5]
 Name: 136, dtype: object,
 0    [5]
 Name: 137, dtype: object,
 0    [5]
 Name: 138, dtype: object,
 0    [5]
 Name: 139, dtype: object,
 0    [5]
 Name: 140, dtype: object,
 0    [5]
 Name: 141, dtype: object,
 0    [5]
 Name: 142, dtype: object,
 0    [5]
 Name: 143, dtype: object,
 0    [5]
 Name: 144, dtype: object,
 0    [5]
 Name: 145, dtype: object,
 0    [5]
 Name: 146, dtype: object,
 0    [5]
 Name: 147, dtype: object,
 0    [5]
 Name: 148, dtype: object,
 0    [5]
 Name: 149, dtype: object,
 0    [5]
 Name: 150, dtype: object,
 0    [5]
 Name: 151, dtype: object,
 0    [5]
 Name: 152, dtype: object,
 0    [5]
 Name: 153, dtype: object,
 0    [5]
 Name: 154, dtype: object,
 0    [5]
 Name: 155, dtype: object,
 0    [5]
 Name: 156, dtype: object,
 0    [5]
 Name: 157, dtype: object,
 0    [5]
 Name: 158, dtype: object,
 0    [5]
 Name: 159, dtype: object,
 0    [5]
 Name: 160, dtype: object,
 0    [5]
 Name: 161, dtype: object,
 0    [5]
 Name: 162, dtype: object,
 0    [5]
 Name: 163, dtype: object,
 0    [5]
 Name: 164, dtype: object,
 0    [4]
 Name: 165, dtype: object,
 0    [4]
 Name: 166, dtype: object,
 0    [4]
 Name: 167, dtype: object,
 0    [4]
 Name: 168, dtype: object,
 0    [4]
 Name: 169, dtype: object,
 0    [4]
 Name: 170, dtype: object,
 0    [4]
 Name: 171, dtype: object,
 0    [4]
 Name: 172, dtype: object,
 0    [4]
 Name: 173, dtype: object,
 0    [4]
 Name: 174, dtype: object,
 0    [4]
 Name: 175, dtype: object,
 0    [4]
 Name: 176, dtype: object,
 0    [4]
 Name: 177, dtype: object,
 0    [4]
 Name: 178, dtype: object,
 0    [4]
 Name: 179, dtype: object,
 0    [4]
 Name: 180, dtype: object,
 0    [4]
 Name: 181, dtype: object,
 0    [4]
 Name: 182, dtype: object,
 0    [4]
 Name: 183, dtype: object,
 0    [4]
 Name: 184, dtype: object,
 0    [4]
 Name: 185, dtype: object,
 0    [4]
 Name: 186, dtype: object,
 0    [4]
 Name: 187, dtype: object,
 0    [4]
 Name: 188, dtype: object,
 0    [4]
 Name: 189, dtype: object,
 0    [4]
 Name: 190, dtype: object,
 0    [4]
 Name: 191, dtype: object,
 0    [4]
 Name: 192, dtype: object,
 0    [4]
 Name: 193, dtype: object,
 0    [4]
 Name: 194, dtype: object,
 0    [4]
 Name: 195, dtype: object,
 0    [4]
 Name: 196, dtype: object,
 0    [4]
 Name: 197, dtype: object,
 0    [4]
 Name: 198, dtype: object,
 0    [4]
 Name: 199, dtype: object,
 0    [4]
 Name: 200, dtype: object,
 0    [4]
 Name: 201, dtype: object,
 0    [4]
 Name: 202, dtype: object,
 0    [4]
 Name: 203, dtype: object,
 0    [4]
 Name: 204, dtype: object,
 0    [4]
 Name: 205, dtype: object,
 0    [4]
 Name: 206, dtype: object,
 0    [4]
 Name: 207, dtype: object,
 0    [4]
 Name: 208, dtype: object,
 0    [4]
 Name: 209, dtype: object,
 0    [4]
 Name: 210, dtype: object,
 0    [4]
 Name: 211, dtype: object,
 0    [4]
 Name: 212, dtype: object,
 0    [4]
 Name: 213, dtype: object,
 0    [4]
 Name: 214, dtype: object,
 0    [4]
 Name: 215, dtype: object,
 0    [4]
 Name: 216, dtype: object,
 0    [4]
 Name: 217, dtype: object,
 0    [3]
 Name: 218, dtype: object,
 0    [3]
 Name: 219, dtype: object,
 0    [3]
 Name: 220, dtype: object,
 0    [3]
 Name: 221, dtype: object,
 0    [3]
 Name: 222, dtype: object,
 0    [3]
 Name: 223, dtype: object,
 0    [3]
 Name: 224, dtype: object,
 0    [3]
 Name: 225, dtype: object,
 0    [3]
 Name: 226, dtype: object,
 0    [3]
 Name: 227, dtype: object,
 0    [3]
 Name: 228, dtype: object,
 0    [3]
 Name: 229, dtype: object,
 0    [3]
 Name: 230, dtype: object,
 0    [3]
 Name: 231, dtype: object,
 0    [3]
 Name: 232, dtype: object,
 0    [3]
 Name: 233, dtype: object,
 0    [3]
 Name: 234, dtype: object,
 0    [3]
 Name: 235, dtype: object,
 0    [3]
 Name: 236, dtype: object,
 0    [3]
 Name: 237, dtype: object,
 0    [3]
 Name: 238, dtype: object,
 0    [3]
 Name: 239, dtype: object,
 0    [3]
 Name: 240, dtype: object,
 0    [3]
 Name: 241, dtype: object,
 0    [3]
 Name: 242, dtype: object,
 0    [3]
 Name: 243, dtype: object,
 0    [3]
 Name: 244, dtype: object,
 0    [3]
 Name: 245, dtype: object,
 0    [3]
 Name: 246, dtype: object,
 0    [3]
 Name: 247, dtype: object,
 0    [3]
 Name: 248, dtype: object,
 0    [3]
 Name: 249, dtype: object,
 0    [3]
 Name: 250, dtype: object,
 0    [3]
 Name: 251, dtype: object,
 0    [3]
 Name: 252, dtype: object,
 0    [3]
 Name: 253, dtype: object,
 0    [3]
 Name: 254, dtype: object,
 0    [3]
 Name: 255, dtype: object,
 0    [3]
 Name: 256, dtype: object,
 0    [3]
 Name: 257, dtype: object,
 0    [3]
 Name: 258, dtype: object,
 0    [3]
 Name: 259, dtype: object,
 0    [3]
 Name: 260, dtype: object,
 0    [3]
 Name: 261, dtype: object,
 0    [3]
 Name: 262, dtype: object,
 0    [3]
 Name: 263, dtype: object,
 0    [3]
 Name: 264, dtype: object,
 0    [3]
 Name: 265, dtype: object,
 0    [3]
 Name: 266, dtype: object,
 0    [3]
 Name: 267, dtype: object,
 0    [3]
 Name: 268, dtype: object,
 0    [3]
 Name: 269, dtype: object,
 0    [3]
 Name: 270, dtype: object,
 0    [3]
 Name: 271, dtype: object,
 0    [3]
 Name: 272, dtype: object,
 0    [3]
 Name: 273, dtype: object,
 0    [3]
 Name: 274, dtype: object,
 0    [3]
 Name: 275, dtype: object,
 0    [3]
 Name: 276, dtype: object,
 0    [3]
 Name: 277, dtype: object,
 0    [3]
 Name: 278, dtype: object,
 0    [3]
 Name: 279, dtype: object,
 0    [3]
 Name: 280, dtype: object,
 0    [3]
 Name: 281, dtype: object,
 0    [3]
 Name: 282, dtype: object,
 0    [3]
 Name: 283, dtype: object,
 0    [3]
 Name: 284, dtype: object,
 0    [3]
 Name: 285, dtype: object,
 0    [3]
 Name: 286, dtype: object,
 0    [3]
 Name: 287, dtype: object,
 0    [3]
 Name: 288, dtype: object,
 0    [3]
 Name: 289, dtype: object,
 0    [3]
 Name: 290, dtype: object,
 0    [3]
 Name: 291, dtype: object,
 0    [3]
 Name: 292, dtype: object,
 0    [3]
 Name: 293, dtype: object,
 0    [3]
 Name: 294, dtype: object,
 0    [3]
 Name: 295, dtype: object,
 0    [3]
 Name: 296, dtype: object,
 0    [3]
 Name: 297, dtype: object,
 0    [3]
 Name: 298, dtype: object,
 0    [3]
 Name: 299, dtype: object,
 0    [3]
 Name: 300, dtype: object,
 0    [3]
 Name: 301, dtype: object,
 0    [3]
 Name: 302, dtype: object,
 0    [3]
 Name: 303, dtype: object,
 0    [3]
 Name: 304, dtype: object,
 0    [3]
 Name: 305, dtype: object,
 0    [3]
 Name: 306, dtype: object,
 0    [3]
 Name: 307, dtype: object,
 0    [3]
 Name: 308, dtype: object,
 0    [3]
 Name: 309, dtype: object,
 0    [3]
 Name: 310, dtype: object,
 0    [3]
 Name: 311, dtype: object,
 0    [2]
 Name: 312, dtype: object,
 0    [2]
 Name: 313, dtype: object,
 0    [2]
 Name: 314, dtype: object,
 0    [2]
 Name: 315, dtype: object,
 0    [2]
 Name: 316, dtype: object,
 0    [2]
 Name: 317, dtype: object,
 0    [2]
 Name: 318, dtype: object,
 0    [2]
 Name: 319, dtype: object,
 0    [2]
 Name: 320, dtype: object,
 0    [2]
 Name: 321, dtype: object,
 0    [2]
 Name: 322, dtype: object,
 0    [2]
 Name: 323, dtype: object,
 0    [2]
 Name: 324, dtype: object,
 0    [2]
 Name: 325, dtype: object,
 0    [2]
 Name: 326, dtype: object,
 0    [2]
 Name: 327, dtype: object,
 0    [2]
 Name: 328, dtype: object,
 0    [2]
 Name: 329, dtype: object,
 0    [2]
 Name: 330, dtype: object,
 0    [2]
 Name: 331, dtype: object,
 0    [2]
 Name: 332, dtype: object,
 0    [2]
 Name: 333, dtype: object,
 0    [2]
 Name: 334, dtype: object,
 0    [2]
 Name: 335, dtype: object,
 0    [2]
 Name: 336, dtype: object,
 0    [2]
 Name: 337, dtype: object,
 0    [2]
 Name: 338, dtype: object,
 0    [2]
 Name: 339, dtype: object,
 0    [2]
 Name: 340, dtype: object,
 0    [2]
 Name: 341, dtype: object,
 0    [2]
 Name: 342, dtype: object,
 0    [2]
 Name: 343, dtype: object,
 0    [2]
 Name: 344, dtype: object,
 0    [2]
 Name: 345, dtype: object,
 0    [2]
 Name: 346, dtype: object,
 0    [2]
 Name: 347, dtype: object,
 0    [2]
 Name: 348, dtype: object,
 0    [2]
 Name: 349, dtype: object,
 0    [2]
 Name: 350, dtype: object,
 0    [2]
 Name: 351, dtype: object,
 0    [2]
 Name: 352, dtype: object,
 0    [2]
 Name: 353, dtype: object,
 0    [2]
 Name: 354, dtype: object,
 0    [2]
 Name: 355, dtype: object,
 0    [2]
 Name: 356, dtype: object,
 0    [2]
 Name: 357, dtype: object,
 0    [2]
 Name: 358, dtype: object,
 0    [2]
 Name: 359, dtype: object,
 0    [2]
 Name: 360, dtype: object,
 0    [2]
 Name: 361, dtype: object,
 0    [2]
 Name: 362, dtype: object,
 0    [2]
 Name: 363, dtype: object,
 0    [2]
 Name: 364, dtype: object,
 0    [2]
 Name: 365, dtype: object,
 0    [2]
 Name: 366, dtype: object,
 0    [2]
 Name: 367, dtype: object,
 0    [2]
 Name: 368, dtype: object,
 0    [2]
 Name: 369, dtype: object,
 0    [2]
 Name: 370, dtype: object,
 0    [2]
 Name: 371, dtype: object,
 0    [2]
 Name: 372, dtype: object,
 0    [2]
 Name: 373, dtype: object,
 0    [2]
 Name: 374, dtype: object,
 0    [2]
 Name: 375, dtype: object,
 0    [2]
 Name: 376, dtype: object,
 0    [2]
 Name: 377, dtype: object,
 0    [2]
 Name: 378, dtype: object,
 0    [2]
 Name: 379, dtype: object,
 0    [2]
 Name: 380, dtype: object,
 0    [2]
 Name: 381, dtype: object,
 0    [2]
 Name: 382, dtype: object,
 0    [2]
 Name: 383, dtype: object,
 0    [2]
 Name: 384, dtype: object,
 0    [2]
 Name: 385, dtype: object,
 0    [2]
 Name: 386, dtype: object,
 0    [2]
 Name: 387, dtype: object,
 0    [2]
 Name: 388, dtype: object,
 0    [2]
 Name: 389, dtype: object,
 0    [2]
 Name: 390, dtype: object,
 0    [2]
 Name: 391, dtype: object,
 0    [2]
 Name: 392, dtype: object,
 0    [2]
 Name: 393, dtype: object,
 0    [2]
 Name: 394, dtype: object,
 0    [2]
 Name: 395, dtype: object,
 0    [2]
 Name: 396, dtype: object,
 0    [2]
 Name: 397, dtype: object,
 0    [2]
 Name: 398, dtype: object,
 0    [2]
 Name: 399, dtype: object,
 0    [2]
 Name: 400, dtype: object,
 0    [2]
 Name: 401, dtype: object,
 0    [2]
 Name: 402, dtype: object,
 0    [2]
 Name: 403, dtype: object,
 0    [2]
 Name: 404, dtype: object,
 0    [2]
 Name: 405, dtype: object,
 0    [2]
 Name: 406, dtype: object,
 0    [2]
 Name: 407, dtype: object,
 0    [2]
 Name: 408, dtype: object,
 0    [2]
 Name: 409, dtype: object,
 0    [2]
 Name: 410, dtype: object,
 0    [2]
 Name: 411, dtype: object,
 0    [2]
 Name: 412, dtype: object,
 0    [2]
 Name: 413, dtype: object,
 0    [2]
 Name: 414, dtype: object,
 0    [2]
 Name: 415, dtype: object,
 0    [2]
 Name: 416, dtype: object,
 0    [2]
 Name: 417, dtype: object,
 0    [2]
 Name: 418, dtype: object,
 0    [2]
 Name: 419, dtype: object,
 0    [2]
 Name: 420, dtype: object,
 0    [2]
 Name: 421, dtype: object,
 0    [2]
 Name: 422, dtype: object,
 0    [2]
 Name: 423, dtype: object,
 0    [2]
 Name: 424, dtype: object,
 0    [2]
 Name: 425, dtype: object,
 0    [2]
 Name: 426, dtype: object,
 0    [2]
 Name: 427, dtype: object,
 0    [2]
 Name: 428, dtype: object,
 0    [2]
 Name: 429, dtype: object,
 0    [2]
 Name: 430, dtype: object,
 0    [2]
 Name: 431, dtype: object,
 0    [2]
 Name: 432, dtype: object,
 0    [2]
 Name: 433, dtype: object,
 0    [2]
 Name: 434, dtype: object,
 0    [2]
 Name: 435, dtype: object,
 0    [2]
 Name: 436, dtype: object,
 0    [2]
 Name: 437, dtype: object,
 0    [2]
 Name: 438, dtype: object,
 0    [2]
 Name: 439, dtype: object,
 0    [2]
 Name: 440, dtype: object,
 0    [2]
 Name: 441, dtype: object,
 0    [2]
 Name: 442, dtype: object,
 0    [2]
 Name: 443, dtype: object,
 0    [2]
 Name: 444, dtype: object,
 0    [2]
 Name: 445, dtype: object,
 0    [2]
 Name: 446, dtype: object,
 0    [2]
 Name: 447, dtype: object,
 0    [2]
 Name: 448, dtype: object,
 0    [2]
 Name: 449, dtype: object,
 0    [2]
 Name: 450, dtype: object,
 0    [2]
 Name: 451, dtype: object,
 0    [2]
 Name: 452, dtype: object,
 0    [2]
 Name: 453, dtype: object,
 0    [2]
 Name: 454, dtype: object,
 0    [2]
 Name: 455, dtype: object,
 0    [2]
 Name: 456, dtype: object,
 0    [2]
 Name: 457, dtype: object,
 0    [2]
 Name: 458, dtype: object,
 0    [2]
 Name: 459, dtype: object,
 0    [2]
 Name: 460, dtype: object,
 0    [2]
 Name: 461, dtype: object,
 0    [2]
 Name: 462, dtype: object,
 0    [2]
 Name: 463, dtype: object,
 0    [2]
 Name: 464, dtype: object,
 0    [2]
 Name: 465, dtype: object,
 0    [2]
 Name: 466, dtype: object,
 0    [2]
 Name: 467, dtype: object,
 0    [2]
 Name: 468, dtype: object,
 0    [2]
 Name: 469, dtype: object,
 0    [2]
 Name: 470, dtype: object,
 0    [2]
 Name: 471, dtype: object,
 0    [2]
 Name: 472, dtype: object,
 0    [2]
 Name: 473, dtype: object,
 0    [2]
 Name: 474, dtype: object,
 0    [2]
 Name: 475, dtype: object,
 0    [2]
 Name: 476, dtype: object,
 0    [2]
 Name: 477, dtype: object,
 0    [2]
 Name: 478, dtype: object,
 0    [2]
 Name: 479, dtype: object,
 0    [2]
 Name: 480, dtype: object,
 0    [2]
 Name: 481, dtype: object,
 0    [2]
 Name: 482, dtype: object,
 0    [2]
 Name: 483, dtype: object,
 0    [2]
 Name: 484, dtype: object,
 0    [2]
 Name: 485, dtype: object,
 0    [2]
 Name: 486, dtype: object,
 0    [2]
 Name: 487, dtype: object,
 0    [2]
 Name: 488, dtype: object,
 0    [2]
 Name: 489, dtype: object,
 0    [2]
 Name: 490, dtype: object,
 0    [2]
 Name: 491, dtype: object,
 0    [2]
 Name: 492, dtype: object,
 0    [2]
 Name: 493, dtype: object,
 0    [2]
 Name: 494, dtype: object,
 0    [2]
 Name: 495, dtype: object,
 0    [2]
 Name: 496, dtype: object,
 0    [2]
 Name: 497, dtype: object,
 0    [2]
 Name: 498, dtype: object,
 0    [2]
 Name: 499, dtype: object,
 0    [2]
 Name: 500, dtype: object,
 0    [2]
 Name: 501, dtype: object,
 0    [2]
 Name: 502, dtype: object,
 0    [2]
 Name: 503, dtype: object,
 0    [2]
 Name: 504, dtype: object,
 0    [2]
 Name: 505, dtype: object,
 0    [2]
 Name: 506, dtype: object,
 0    [2]
 Name: 507, dtype: object,
 0    [2]
 Name: 508, dtype: object,
 0    [2]
 Name: 509, dtype: object,
 0    [2]
 Name: 510, dtype: object,
 0    [2]
 Name: 511, dtype: object,
 0    [2]
 Name: 512, dtype: object,
 0    [2]
 Name: 513, dtype: object,
 0    [2]
 Name: 514, dtype: object,
 0    [2]
 Name: 515, dtype: object,
 0    [2]
 Name: 516, dtype: object,
 0    [2]
 Name: 517, dtype: object,
 0    [2]
 Name: 518, dtype: object,
 0    [2]
 Name: 519, dtype: object,
 0    [2]
 Name: 520, dtype: object,
 0    [2]
 Name: 521, dtype: object,
 0    [2]
 Name: 522, dtype: object,
 0    [2]
 Name: 523, dtype: object,
 0    [1]
 Name: 524, dtype: object,
 0    [1]
 Name: 525, dtype: object,
 0    [1]
 Name: 526, dtype: object,
 0    [1]
 Name: 527, dtype: object,
 0    [1]
 Name: 528, dtype: object,
 0    [1]
 Name: 529, dtype: object,
 0    [1]
 Name: 530, dtype: object,
 0    [1]
 Name: 531, dtype: object,
 0    [1]
 Name: 532, dtype: object,
 0    [1]
 Name: 533, dtype: object,
 0    [1]
 Name: 534, dtype: object,
 0    [1]
 Name: 535, dtype: object,
 0    [1]
 Name: 536, dtype: object,
 0    [1]
 Name: 537, dtype: object,
 0    [1]
 Name: 538, dtype: object,
 0    [1]
 Name: 539, dtype: object,
 0    [1]
 Name: 540, dtype: object,
 0    [1]

In [100]:
new_df = pd.DataFrame({"words":words_list, "count":num_list})
new_df

,words,count
0,"0 [protein] Name: 0, dtype: object","0 [610] Name: 0, dtype: object"
1,"0 [powder] Name: 1, dtype: object","0 [190] Name: 1, dtype: object"
2,"0 [whey] Name: 2, dtype: object","0 [110] Name: 2, dtype: object"
3,"0 [good] Name: 3, dtype: object","0 [54] Name: 3, dtype: object"
4,"0 [shake] Name: 4, dtype: object","0 [43] Name: 4, dtype: object"
...,...,...
1352,"0 [sodium] Name: 1352, dtype: object","0 [1] Name: 1352, dtype: object"
1353,"0 [bread] Name: 1353, dtype: object","0 [1] Name: 1353, dtype: object"
1354,"0 [funky] Name: 1354, dtype: object","0 [1] Name: 1354, dtype: object"
1355,"0 [strange] Name: 1355, dtype: object","0 [1] Name: 1355, dtype: object"
1356,"0 [die] Name: 1356, dtype: object","0 [1] Name: 1356, dtype: object"

In [81]:
new_df = new_df.rename(columns={'0': "column1"})
new_df['words'] = new_df['0']
new_df

KeyError: '0'

In [67]:
for line in new_df:
    print(line)
    # line = re.sub("[", "", line)
    # line = re.sub("]", "", line)

0